<div id="header">
	<mat-form-field>
		<mat-label>Ecommerce</mat-label>
		<mat-select name="origin" [(value)]="origin" (selectionChange)="setOrigin()">
			<mat-option value="ls">Laptopshop</mat-option>
			<mat-option value="cs">CyberSport</mat-option>
		</mat-select>
	</mat-form-field>
	<mat-form-field>
		<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
	</mat-form-field>
	<button mat-raised-button color="primary" (click)="exportProducts()" [disabled]="waitingData">
		Actualizar Todo
		<mat-icon>save_alt</mat-icon>
	</button>
</div>
<ng-container>
	<table mat-table [dataSource]="groupsDataSource">
	
		<ng-container matColumnDef="pz_id">
			<th mat-header-cell *matHeaderCellDef> Clave</th>
			<td mat-cell *matCellDef="let element"> {{element.pz_id}} </td>
		</ng-container>
		<ng-container matColumnDef="pz_line">
			<th mat-header-cell *matHeaderCellDef> Linea</th>
			<td mat-cell *matCellDef="let element"> {{element.pz_line}} </td>
		</ng-container>
		<ng-container matColumnDef="pz_revenue">
			<th mat-header-cell *matHeaderCellDef> Ganancia </th>
			<td mat-cell *matCellDef="let element"> {{element.pz_revenue}}% + 16% IVA </td>
		</ng-container>
	
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/group/'+row.pz_id]"></tr>
	
	</table>
</ng-container>

