<div class="section-content" #componentContainer>
	
	<div id="header">
		<div>
			<mat-form-field floatLabel="always">
				<mat-label>{{line || "Obteniendo Categoría"}}: {{qtyResults}} productos.</mat-label>
				<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
			</mat-form-field>
			<button mat-raised-button color="primary" (click)="importProducts()" [disabled]="qtyResults == 0">
				Importar grupo
				<mat-icon>save_alt</mat-icon>
			</button>
			<p>{{status}}</p>
		</div>
		<button mat-mini-fab color="primary" routerLink="/groups">
			<mat-icon>navigate_before</mat-icon>
		</button>
	</div>
	
	<table mat-table [dataSource]="productsDataSource" matSort>
		<ng-container matColumnDef="Clave">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Clave </th>
			<td mat-cell *matCellDef="let element"> {{element.Clave}} </td>
		</ng-container>
		<ng-container matColumnDef="Descrip">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
			<td mat-cell *matCellDef="let element"> {{element.Descrip}} </td>
		</ng-container>
		<ng-container matColumnDef="Existencia">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Existencia </th>
			<td mat-cell *matCellDef="let element"> {{element.Existencia}} </td>
		</ng-container>
		<ng-container matColumnDef="Costo">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Costo </th>
			<td mat-cell *matCellDef="let element"> {{element.Costo}} </td>
		</ng-container>
		<ng-container matColumnDef="Precio">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
			<td mat-cell *matCellDef="let element"> {{element.Precio}} </td>
		</ng-container>
		<ng-container matColumnDef="Marca">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Marca </th>
			<td mat-cell *matCellDef="let element"> {{element.Marca?.Marca}} </td>
		</ng-container>
		<tr mat-header-row *matHeaderRowDef="productColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: productColumns;"></tr>
	</table>
	<mat-paginator [pageSize]="tableRows" showFirstLastButtons></mat-paginator>

</div>