
@import '../../../styles.sass'

.section-content
	height: 100vh
	background: #fff

table
	width: 100%
	th
		min-width: 100px

#header
	width: 100%
	background: #eee
	display: flex
	justify-content: space-between
	align-items: center
	mat-form-field
		padding: 0.85rem 1vw 0 1vw
		min-width: 400px

	button
		margin: 0 1vw

	p
		display: inline

.mat-form-field-infix
	width: unset !important

table
	min-width: 100%

tr.mat-footer-row,
tr.mat-row
	height: 30px
	cursor: pointer

tr.mat-row:hover
	background: #f5f5f5